{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <header>
            <h1>Données de vérification</h1>
        </header>

        <section>
            <h2>Aperçu</h2>
            <table class="table table-stripped">
                <tr>
                    <th>Clé</th>
                    <th>Valeur</th>
                </tr>
                <tr>
                    <td>Nombre de personnages</td>
                    <td>{{ statsCharacter['total'] }}</td>
                </tr>
                <tr>
                    <td>Début de la fiction</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fin de la fiction</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Plus grand âge au début de la fiction </td>
                    <td>{{ statsCharacter['max_age'] }} ans</td>
                </tr>
            </table>
        </section>

        <section>
            <h2>Exemple aléatoire de personnage</h2>

            <table class="table">
                <tr>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Sexe</th>
                    </tr>
                    <tr>
                        <td>{{ character.id }}</td>
                        <td>{{ character.name }}</td>
                        <td>{{ character.sex }}</td>
                    </tr>
                </tr>
                <tr></tr>
            </table>

        </section>
    </div>
{% endblock %}