{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <header>
            <h1>Données de vérification</h1>
        </header>

        <section>
            <h2>Aperçu général</h2>
            <table class="table table-stripped">
                <tr>
                    <th>Clé</th>
                    <th>Valeur</th>
                </tr>
                <tr>
                    <td>Nombre de personnages</td>
                    <td>{{ statsCharacter['total'] }}</td>
                </tr>
                <tr>
                    <td>Début de la fiction</td>
                    <td>{{ statsParams['start'] }}</td>
                </tr>
                <tr>
                    <td>Fin de la fiction</td>
                    <td>{{ statsParams['end'] }}</td>
                </tr>
                <tr>
                    <td>Plus grand âge au début de la fiction </td>
                    <td>{{ statsCharacter['max_age'] }} an(s)</td>
                </tr>
                <tr>
                    <td>Plus petit âge au début de la fiction </td>
                    <td>{{ statsCharacter['min_age'] }} an(s)</td>
                </tr>
                <tr>
                    <td>Nombre de femmes</td>
                    <td>{{ ratioSex['female'] }}</td>
                </tr>
                <tr>
                    <td>Nombre d'hommes</td>
                    <td>{{ ratioSex['male'] }}</td>
                </tr>
            </table>
        </section>

        <section>
            <h2>A propos des actions</h2>

            <table class="table striped">
                <tr>
                    <td>Nombre d'actions</td>
                    <td>{{ statsAction }}</td>
                </tr>
                <tr>
                    <td>Nombre d'habitudes</td>
                    <td>{{ statsHabit }}</td>
                </tr>
                <tr>
                    <td>Nombre de routines</td>
                    <td>{{ statsRoutine['total'] }}</td>
                </tr>
                <tr>
                    <td>Nombre de routines liées à un personnage</td>
                    <td>{{ statsRoutine['total_linked']}}</td>
                </tr>
                <tr>
                    <td>Routine la plus utilisée</td>
                    <td>{{ statsRoutine['most_used']['name'] }} ({{ statsRoutine['most_used']['nb'] }})</td>
                </tr>
                <tr>
                    <td>Routine la moins utilisée</td>
                    <td>{{ statsRoutine['less_used']['name'] }} ({{ statsRoutine['less_used']['nb'] }})</td>
                </tr>
            </table>
        </section>

        <section>

            <h2>A propos des personnages</h2>

            <h3>Prochaine mort</h3>

            <p>Le prochain personnage qui mourra devrait être (sauf assassinat ou accident) : < en cours > </p>

            <h3>Répartitions par tranche d'âge</h3>

            <p>Le nombre de personnages par âge au début de l'histoire.</p>

            <table class="table table-striped">
                {% for ages in ageByDecade %}
                    {% for key, value in ages %}
                        <ul>
                            <li>{{ key }} personnages ont entre {{ (value/ (3600*365*24)) - 10 }} et {{ value / (3600*365*24) }} ans</li>
                        </ul>
                    {% endfor %}
                {% endfor %}
            </table>

            <h3>Exemple aléatoire de personnage</h3>

            <table class="table">
                <tr>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Sexe</th>
                    </tr>
                    <tr>
                        <td><a href="{{ path('get_character', {'id': character.id}) }}">{{ character.id }}</a></td>
                        <td>{{ character.name }}</td>
                        <td>{{ character.sex }}</td>
                    </tr>
                </tr>
                <tr></tr>
            </table>

        </section>

        <section>
            <h2>Le parti fasciste</h2>

            <p>Son premier membre est :</p>
            <p>Il est crée en :</p>
            <p>Nombre de partisans par années :</p>

        </section>
    </div>
{% endblock %}